<% provide(:title, "Hello") %>
<div class="top">
  <h1>読んだ本を記憶に残しておくために！！</h1><br>
  <h2>読んだ本を管理するシステムです。<br><br>
  人間は忘れる生き物です。<br><br>
  苦労して読んだ本から学んだ知識を忘れてしまってはもったいない。<br><br>
  読んだ本の要点や感想等を保存しておき、定期的に見直すことにより記憶にとどめる事ができます。<br><br>
  たくさん本を読み、たくさんの知識を蓄え、人生をより豊かにして行こう！！
  </h2>
</div>