<div class="top">
  <p>本一覧ページ</p>
  <p><%= link_to "本を登録する", new_book_path%></p>
  <% @books.each do |book| %>
    <%= render book %>
    <p><%= link_to "この本の詳細", book %></p>
    <br>
  <% end %>
  <%= paginate @books %>
</div>