 <header class="navbar navbar-expand-md bg-dark text-white fixed-top">
      <div class="container">
        <%= link_to "rails app", root_path, id: "logo" %>
        <nav>
          <ul class="navbar-nav nav navbar-right">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Sign up", '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>